.LogoSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;

}
.LogoInput{
    align-self: center;
    display: flex;

}
.LogoInput{
    background-color: var(--inputColor);
    /* con dc huong file import cua cha */
    padding: .3rem;
    border-radius: .4rem;

}
.LogoInput>input {
    outline: none;
    border: none;
    background: transparent;

}
.LogoInput svg{
    background:var(--buttonBg) ;
    padding: .2rem;
    border-radius: .4rem;
    color: white;
}